*{
  margin: 0;
  padding:0;
  box-sizing: border-box;
}
body{
  background:aquamarine;
  background-size:auto 100vh;
  height:100vh;
  font-family: 'Indie Flower', cursive;
  font-size: 10px;
}
@media(min-width:350px){
  body{
    font-size: 20px;
  }

}
@media(min-width:500px){
  body{
    font-size: 30px;
  }

}

header{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.menu{
  background:black;
  position: fixed;
  width: 100vw;
  top: 0;
  
  
}
.menu a{
  display: block;
  padding: 20px 40px;
  color: aquamarine;
  
  
}

a{
  text-decoration:none;
  color:teal;
}
a:hover{
  text-decoration:underline;
  color:white;
}
.menu li{
  list-style:none;


}

ul{
  display:flex;
  justify-content:space-around;
}

h1,
h2{
  color:black;
  text-align:center;
  font-style:italic;
}

h1:hover,
h2:hover{text-decoration:underline;
  color:white;
  
}
section{
 
  background: black;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100vh;
  
}

section .img-port{
  height: 500px;
  width: auto;
}

.linkbot{
  display: block;
  padding: 5px 15px;
  color: white;
}
.linkbot:hover{
  color:black;
  text-decoration: none;
}
button{
  position: relative;
  left: 50vw;
  background:red;
}
.contbot{
  background:black;
}
i{
  height: 5px 7px;
}
