*{
  margin: 0;
  padding:0;
  box-sizing: border-box;
}
body{
  background: aquamarine;
  background-size:auto 100vh;
  height:100vh;
  font-family:italic;
  font-size:22px;
}
header{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.menu{
  background:black;
  position: fixed;
  width: 100vw;
  top: 0;
  
  
}
.menu a{
  display: block;
  padding: 20px 30px;
  color: aquamarine;
  
}

a{
  text-decoration:none;
  color:teal;
}
a:hover{
  text-decoration:underline;
  color:white;
}
.menu li{
  list-style:none;


}

ul{
  display:flex;
  justify-content:space-around;
}

h1,
h2{
  color:black;
  text-align:center;
  font-style:italic;
}

h1:hover,
h2:hover{text-decoration:underline;
  color:white;
  
}
section{
  background: palevioletred;
}

section .img-port{
  height: 550px;
  width: 430px;
}
